body {
  background-color: rgb(90, 8, 116);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.accordian {
  display: flex;
  background-color: white;
  border-radius: 5px;
  width: 600px;
  padding: 40px;
  box-sizing: border-box;
  margin: 100px auto;
}

.accordian h2 {
  width: 150px;
  font-size: 20px;
  margin-right: 80px;
}

.q-and-a-section {
  width: 300px;
}

.active {
  box-sizing: border-box;
  box-shadow: 0px 5px 5px rgb(202, 202, 202), 
    -1px 5px 5px rgb(202, 202, 202), 1px 5px 5px rgb(202, 202, 202);
  -webkit-box-shadow: 0px 5px 5px rgb(202, 202, 202), 
    -1px 5px 5px rgb(202, 202, 202), 1px 5px 5px rgb(202, 202, 202);
  padding: 15px 0px 15px 15px;
  width: 315px;
}

.question-section {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  position: relative;
}

.inactive .question-section {
  border: solid 1px rgb(202, 202, 202);
  padding: 0 10px;
  width: 295px;
}

.question-section button {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: rgb(209, 207, 207);
  border: none;
  color: rgb(238, 99, 196);
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 10px;
  font-size: 12px;
  vertical-align: middle;
}

.icon {
  position: absolute;
  top: 4px;
  right: 3.5px;
}

.answer-section {
  font-size: 10px;
  padding-right: 20px;
}